- provide :title, 'Import Users'

#slider
  .container
    .row.header
      .col-md-6
        %h3 Import Students from file
        %p
          You can quickly add multiple Students to this account by importing details from any of the following file types:
        %ul
          %li CSV
          %li Excel File
        %p
          The file can contain the following columns (
          %strong *
          \= required):
        %ul
          %li
            Username
            %strong *
          %li
            Password
            %strong *
          %li Email
          %li Name
    .row
      .col-md-12
        = form_tag import_students_path, multipart: true do
          .form-group
            = label_tag :file
            = file_field_tag :file
          .form-group
            = submit_tag 'Import', class: 'btn btn-primary'
