- provide :title, 'All Students'

#info
  .row
    .col-md-12
      %table#students_index.display
        %thead
          %tr
            %th 'Name'
            %th 'Email'
        %tbody
        - @students.each do |student|
          %tr
            %td= student.name
            %td= student.email
