- provide :title, @user.name

.container
  .row
    .col-md-4
      %h1
        = @user.name
        - if @user.teacher?
          %small
            %span.label.label-info TEACHER
      %span.username= @user.username
      %hr
      .email
        %span.octicon.octicon-mention
        = @user.email
