- provide :title, 'About'

#slider
  .container
    .row.header
      .col-md-12
        %h3 About Kodets
        %p
          Kodets is an online learning platform that teaches Computing from primary school up to A-Level.
#info
  .container
    .row
      .col-md-4
        %h1 Mission
        %p
          Kodets revolutionises the way Computing is taught in the classrooms throughout the country.
        %p
          We aim to provide students with a more enriching experience when learning Computer Science by providing a secure platform where students and teachers can interact and learn collaboratively.
      .col-md-4
        %h1 Vision
        %p
          We envisage Kodets being used in every classroom across the country. We are completely redesigning the way Computing is taught in schools from the ground up.
        %p
      .col-md-4
        %h1 Values
        %ul
          %li
            %strong Education:
            Education is central to our business, we understand the value of education and will maintain all efforts to provide the best platform possible in order for students to excel in Computer Science.
          %li
            %strong Quality:
            We understand the need for quality in the educational sector. We regularly consult students and teachers currently studying Computer Science to ensure our platform is as good as it can be.
    .row.stats
      .col-sm-3
        %strong 13
        employees
      .col-sm-3
        %strong 10k
        customers
      .col-sm-3
        %strong 9
        template pages
      .col-sm-3
        %strong 13k
        products sold
#cta
  .container
    .row
      .col-md-12
        .wrapper.clearfix
          %h4 Try a Kodets free trial and see how much your students can benefit.
          %a.button.button-small{href: new_teacher_registration_path} Sign up free
