- provide :title, 'Pricing'
#pricing-table
  .container
    .row.header
      .col-md-12
        %h3 Free trial. No contract. Cancel when you want.
        %p All plans include a 7-day free trial
    .row.charts
      .col-md-4
        .chart.first
          .quantity
            %span.dollar £
            %span.price 29
            %span.period /month
          .plan-name Freelance
          .specs
            .spec
              %span.variable 5
              team members
            .spec
              %span.variable Digital
              recurring billing
            .spec
              %span.variable Virtual
              online terminal
            .spec
              %span.variable 10
              total products
            .spec
              %span.variable 1.0%
              Transaction fee
          %a.btn-signup.button-clear{href: "signup.html"}
            %span Start free trial
      .col-md-4
        .chart.featured
          .popular Most popular
          .quantity
            %span.dollar £
            %span.price 79
            %span.period /month
          .plan-name Profesional
          .specs
            .spec
              %span.variable 15
              team members
            .spec
              %span.variable Digital
              recurring billing
            .spec
              %span.variable Virtual
              online terminal
            .spec
              %span.variable 15
              total products
            .spec
              %span.variable 0.5%
              Transaction fee
          %a.btn-signup.button-clear{href: "signup.html"}
            %span Start free trial
      .col-md-4
        .chart.last
          .quantity
            %span.dollar £
            %span.price 119
            %span.period /month
          .plan-name Premium
          .specs
            .spec
              %span.variable Unlimited
              team members
            .spec
              %span.variable Digital
              recurring billing
            .spec
              %span.variable Virtual
              online terminal
            .spec
              %span.variable 25
              total products
            .spec
              %span.variable No
              Transaction fee
          %a.btn-signup.button-clear{href: "signup.html"}
            %span Start free trial
#pricing-faq
  .container
    .row.faq
      .col-md-12
        .row.header
          .col-md-12
            %h3 Frequently Asked Questions
        .row.questions
          .col-md-6
            .question
              %strong Do I need a card to signup?
              %p
                There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
            .question
              %strong Can I cancel at anytime?
              %p
                There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
          .col-md-6
            .question
              %strong Can I cancel at anytime?
              %p
                There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
            .question
              %strong Do I need a card to signup?
              %p
                There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
