- provide :title, 'Pricing'
#pricing-table
  .container
    .row.header
      .col-md-12
        %h3 Free trial. No contract. Cancel when you want.
        %p All plans include a 7-day free trial
    .row.charts
      .col-md-4
        .chart.first
          .quantity
            %span.pound £
            %span.price 100
            %span.period /year
          .plan-name Small
          .specs
            .spec
              %span.variable 10
              students
            .spec
              %span.variable Unlimited
              access to courses
            .spec
              %span.variable Virtual
              online terminal
            .spec
          %a.btn-signup.button-clear{href: new_teacher_registration_path}
            %span Start free trial
      .col-md-4
        .chart.featured
          .popular Most popular
          .quantity
            %span.pound £
            %span.price 300
            %span.period /year
          .plan-name Medium
          .specs
            .spec
              %span.variable 500
              students
            .spec
              %span.variable Unlimited
              access to courses
            .spec
              %span.variable Virtual
              online terminal
            .spec
          %a.btn-signup.button-clear{href: new_teacher_registration_path}
            %span Start free trial
      .col-md-4
        .chart.last
          .quantity
            %span.pound £
            %span.price 475
            %span.period /year
          .plan-name Large
          .specs
            .spec
              %span.variable Unlimited
              students
            .spec
              %span.variable Unlimited
              access to courses
            .spec
              %span.variable Virtual
              online terminal
          %a.btn-signup.button-clear{href: new_teacher_registration_path}
            %span Start free trial
#pricing-faq
  .container
    .row.faq
      .col-md-12
        .row.header
          .col-md-12
            %h3 Frequently Asked Questions
        .row.questions
          .col-md-6
            .question
              %strong Do I need a card to signup?
              %p
                There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
            .question
              %strong Can I cancel at anytime?
              %p
                There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
          .col-md-6
            .question
              %strong Can I cancel at anytime?
              %p
                There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
            .question
              %strong Do I need a card to signup?
              %p
                There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
