- provide :title, 'Pricing'
#third-option
  .container
    .row.header
      .col-md-12
        %h3 Free trial. No contract. Cancel when you want.
        %p All plans include a 7-day free trial
    .row.charts
      .col-md-12
        .chart.first
          .plan-name Freelance
          .quantity
            %span.dollar £
            %span.price 100
            %span.period /year
          .specs
            .spec
              %span.variable 10
              users
            .spec
              %span.variable Unlimited
              access to courses
            .spec
              %span.variable Virtual
              online terminal
          %a.btn-signup.button-clear{href: new_user_registration_path}
            %span Start free trial
        .chart.featured
          .popular MOST POPULAR
          .plan-name Profesional
          .quantity
            %span.dollar £
            %span.price 475
            %span.period /year
          .specs
            .spec
              %span.variable 500
              users
            .spec
              %span.variable Unlimited
              access to courses
            .spec
              %span.variable Virtual
              online terminal
          %a.btn-signup.button-clear{href: new_user_registration_path}
            %span Start free trial
        .chart.last
          .plan-name Premium
          .quantity
            %span.dollar £
            %span.price 650
            %span.period /year
          .specs
            .spec
              %span.variable 1000
              users
            .spec
              %span.variable Unlimited
              access to courses
            .spec
              %span.variable Virtual
              online terminal
          %a.btn-signup.button-clear{href: new_user_registration_path}
            %span Start free trial
        .basic-plan
          .quantity
            %span.period Custom Quote
          %p.description
            Get in touch with us to get a custom quote.
          %a.btn-signup.button-clear{href: new_user_registration_path}
            %span Start free trial

.faq
  .container
    .row.faq
      .col-md-12
        .row.header
          .col-md-12
            %h3 Frequently Asked Questions
        .row.questions
          .col-md-6
            .question
              %strong Do I need a card to signup?
              %p
                There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
            .question
              %strong Can I cancel at anytime?
              %p
                There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
          .col-md-6
            .question
              %strong Can I cancel at anytime?
              %p
                There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
            .question
              %strong Do I need a card to signup?
              %p
                There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
