<% if @language.ace_slug == 'html' || @language.ace_slug == 'markdown' %>
  <div id="html_editor"><%= @code_lesson.starting_code %></div>
  <div id="html_container">
    <iframe id="html_view">The iframe was unable to load.</iframe>
  </div>
<% else %>
  <% if current_user.has_completed?(@code_lesson) %>
    <div id="editor"><%= @progress.first.content %></div>
  <% else %>
    <div id="editor"><%= @code_lesson.starting_code %></div>
  <% end %>
  <div id="success_bar" style="display:none;">
    <div class="pull-right">
      <%= link_to_next_lesson @code_lesson %>
    </div>
    <div class="success-text">
      Well Done! You passed the lesson, click the button to move on...
    </div>
  </div>
  <div id="console"></div>
<% end %>
