- provide :title, 'All Courses'

.container
  - if current_user.teacher?
    .pull-right
      = link_to 'New Course', new_course_path, class: 'btn btn-primary'

  %h1 All Courses

  - @courses.each do |course|
    = link_to course.name, course
