// Place all the styles related to the Tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_code_lesson_modal {margin-top: 150px;}

.edit-track-move-icon {

  padding-top: 5px;

  &:hover {
    cursor: pointer;
  }
}

.track-panel {

  .panel-body {
    h1 {
      margin-top:0;
    }
  }

  .panel-footer {
    .progress {
      margin: 15px;
    }
  }
}

.track-show-items {

  .list-group-item {

    .code-lesson-options {

      a {
        margin: 0 5px;
      }
    }

    &.has-completed {
      background: #3ac162;
      color: #fff;

      .code-lesson-options {
        position: relative;
        right: -110px;
      }

      a {
        color: #fff;
        font-weight: bold;
      }

      .tick {
        position: relative;
        top: -5px;
        right: -120px;
        background: #3ac162;
        padding: 5px 10px;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
      }
    }
  }
}
