// Place all the styles related to the Tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_code_lesson_modal {margin-top: 150px;}

.edit-track-move-icon:hover {cursor:pointer;}

.track-panel {

  .panel-body {
    h1 {
      margin-top:0;
    }
  }

  .panel-footer {
    .progress {
      margin: 15px;
    }
  }
}

.track-show-items {

  .code-lesson-options {

    a {
      margin: 0 5px;
    }
  }
}
