%header{class: header_class(controller.controller_name, controller.action_name), role: "banner"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".bs-navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Kodets', root_path, class: 'navbar-brand'
    %nav.collapse.navbar-collapse.bs-navbar-collapse{role: "navigation"}
      %ul.nav.navbar-nav.navbar-right
        %li= link_to 'Home', root_path
        %li= link_to 'Pricing', pricing_path
        %li= link_to 'Sign Up', '#'
