#footer
  .container
    .row
      .col-sm-3.copyright
        React LLC 2014
      .col-sm-6.menu
        %ul
          %li.active
            %a{:href => "features.html"} Features
          %li
            %a{:href => "services.html"} Services
          %li
            %a{:href => "pricing.html"} Pricing
          %li
            %a{:href => "support.html"} Support
          %li
            %a{:href => "blog.html"} Blog
      .col-sm-3.social
        %a{:href => "#"}
          %img{:alt => "twitter", :src => "images/social/social-tw.png"}/
        %a{:href => "#"}
          %img{:alt => "dribbble", :src => "images/social/social-dbl.png"}/
